{{!-- без доп задания
<div>
<ul>
    {{#each this}}
    <li>{{name}}</li>
    {{/each}}
</ul>
</div> --}}
{{!-- реализация дополнительного задания ментора --}}
{{#each this}}
    <option value="{{name}}">
    {{/each}}
